.header {
  margin: 10px;
  text-align: center;
}
.filter {
  margin: 20px;
}
.pet-image {
  height: 200px;
}
.pet-card {
  display: inline-block;
  width: 400px;
  margin: 5px;
  text-align: center;
}