<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Добавить животное</title>
    </head>
    <body>
        <form method="post" th:action="@{/admin/add}">
            <h2>Данные о животном</h2>
            <div>
                <input type="text" name="name" placeholder="Имя" autofocus="autofocus">
            </div>
            <div>
                <input type="text" name="breed" placeholder="Порода">
            </div>
            <div>
                <input type="number" name="age" placeholder="Возраст">
            </div>
            <button type="submit">Добавить</button>
        </form>
        <a href="/animals">Список животных</a>
    </body>
</html>