<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Питомцы</title>
        <link rel="stylesheet" href="/animals.css">
    </head>
    <body>
        <header class="header">
            <a href="/logout">Выйти</a>
            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a href="/admin/save">Добавить животное</a>
            </div>
        </header>
        <form method="get" enctype="multipart/form-data" th:action="@{/filter}">
            <h2>Фильтр</h2>
            <div>
                <span>Возраст от</span>
                <input type="number" name="ageFrom" min="1" th:max="${ageMax}" th:value="${ageFrom}">
                <span>до</span>
                <input type="number" name="ageTo" min="1" th:max="${ageMax}" th:value="${ageTo}">
            </div>
            <div>
                <select name="type" value="CAT" defaultValue="CAT">
                    <option value="ALL">Все</option>
                    <option th:each="type : ${T(ru.matmex.animalshelter.model.AnimalType).values()}"
                            th:value="${type}" th:text="${type.displayValue}"></option>
                </select>
            </div>
            <button type="submit">Поиск</button>
        </form>
        <div class="pet-card" th:each="animal: ${animals}">
            <img class="pet-image" th:src="'data:image/jpeg;base64,' + ${animal.getImageBase64()}" alt="Фото питомца">
            <p><a th:text="${animal.name}" th:href="'/detailedAnimalInfo/' + ${animal.id}"></a></p>
            <p th:text="'Куратор: ' + ${animal.curator.curatorName}"></p>
        </div>
    </body>
</html>