<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Питомцы</title>
        <link rel="stylesheet" href="/css/detailedInfo.css">
    </head>
    <body>
        <header class="header">
            <a href="/logout">Выйти</a>
            <a href="/">Список животных</a>
        </header>
        <div class="info">
            <img width="700px" th:src="'data:image/jpeg;base64,' + ${animal.getImageBase64()}" alt="Фото питомца">
            <div class="description">
                <div>Основная информация</div>
                <div class="block">
                    <p th:text="'Имя: ' + ${animal.name}"></p>
                    <p th:text="'Тип: ' + ${animal.type.displayValue}"></p>
                    <p th:text="'Порода: ' + ${animal.breed}"></p>
                    <p><th:block th:switch="${animal.ageYears % 10}">
                        <span th:case="'0'" th:text="'Возраст: '"></span>
                        <span th:case="'1'" th:text="'Возраст: ' + ${animal.ageYears} + ' год '"></span>
                        <span th:case="'2'" th:text="'Возраст: ' + ${animal.ageYears} + ' года '"></span>
                        <span th:case="'3'" th:text="'Возраст: ' + ${animal.ageYears} + ' года '"></span>
                        <span th:case="'4'" th:text="'Возраст: ' + ${animal.ageYears} + ' года '"></span>
                        <span th:case="*" th:text="'Возраст: ' + ${animal.ageYears} + ' лет '"></span>
                    </th:block>
                    <th:block th:switch="${animal.ageMonths % 10}">
                        <span th:case="'0'" th:text="''"></span>
                        <span th:case="'1'" th:text="${animal.ageMonths} + ' месяц'"></span>
                        <span th:case="'2'" th:text="${animal.ageMonths} + ' месяца'"></span>
                        <span th:case="'3'" th:text="${animal.ageMonths} + ' месяца'"></span>
                        <span th:case="'4'" th:text="${animal.ageMonths} + ' месяца'"></span>
                        <span th:case="*" th:text="${animal.ageMonths} + ' месяцев'"></span>
                    </th:block></p>
<!--                    <p th:text="'Возраст: ' + ${animal.ageYears} + ' лет ' + ${animal.ageMonths} + ' месяцев'"></p>-->
                </div>
                <p>Клиника</p>
                <div class="block">
                    <p th:text="'Название: ' + ${animal.clinic.clinicName}"></p>
                    <p th:text="'Адрес: г.' + ${animal.clinic.clinicAddress.city} + ', ул.' + ${animal.clinic.clinicAddress.street} + ', д.' + ${animal.clinic.clinicAddress.house}"></p>
                    <p th:text="'Номер: ' + ${animal.clinic.clinicPhone}"></p>
                </div>
                <p>Куратор</p>
                <div class="block">
                    <p th:text="'Имя: ' + ${animal.curator.curatorName}"></p>
                    <p th:text="'Номер: ' + ${animal.curator.curatorPhone}"></p>
                </div>
            </div>
        </div>
    </body>
</html>