<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
    </head>
    <body>
        <div>
            <div sec:authorize="!isAuthenticated()">
                <h4><a href="/login">Войти</a></h4>
                <h4><a href="/registration">Зарегистрироваться</a></h4>
            </div>
            <div sec:authorize="isAuthenticated()">
                <h4><a href="/logout">Выйти</a></h4>
            </div>
        </div>
    </body>
</html>